@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: #674bb1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:10rem 19rem 19rem 4rem;

}

header {
    background-color: rgba(172, 172, 20, 0);
    height: 8rem;
    display: flex;
    justify-content:flex-end;
    width: 11.7rem;
}

.logo {
    width: 9rem;
}

section {
    background-color: rgba(0, 128, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.foto {
    width: 20rem;
}

article {
    background-color: rgba(205, 92, 92, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

h1 {
    color: white;
    background-color: #afd81a00;
    font-size: 2rem;
    width: 22rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    
}

p {
    color: rgb(223, 221, 221);
    background-color: #4a0feb00;
    font-size: 0.9rem;
    width: 17rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-family: "Open Sans", sans-serif;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.123);
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.377);
    color: #674bb1;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
    width: 12rem;
    border-radius: 1rem;
}

footer { background-color: rgba(212, 0, 255, 0);
    display: flex;
    justify-content: center;
}